[user]
    email = dmitry.guzeev@yahoo.com
    name = Dmitry Guzeev
[core]
    editor = emacs -nw
[alias]
    co = commit
    ck = checkout
    a = add
    s = status
    b = branch
    mff = merge --no-ff --no-edit
[credential]
    helper = cache --timeout=3600
[color]
    ui = true
[push]
    default = current
[diff]
    tool = meld
