[core]
    hooksPath = /Users/comonadd/gitconfig/hooks
[user]
	email = dmitri.guzeev@gmail.com
	name = Dmitry Guzeev
[alias]
    co = commit
    ck = checkout
    a = add
    s = status
    b = branch
    cam = commit --amend --no-edit
    camv = commit --amend --no-edit --no-verify
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    mff = merge --no-ff --no-edit
    pf = push --force
    um = fetch origin master:master
[color]
    ui = true
[push]
    default = current
[diff]
    tool = meld
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = nvim
	excludesfile = /Users/comonadd/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	template = /Users/comonadd/.stCommitMsg
[interactive]
	diffFilter = diff-so-fancy --patch
