URxvt.font: xft:monospace:size=8
URxvt.scrollBar: false

URxvt*background: #111111
URxvt*foreground: #C5C8C6

Urxvt*color0: #2D3C46
Urxvt*color1: #A54242
Urxvt*color2: #8C9440
Urxvt*color3: #DE935F
Urxvt*color4: #5F819D
Urxvt*color5: #85678F
Urxvt*color6: #5E8D87
Urxvt*color7: #6C7A80
Urxvt*color8: #425059
Urxvt*color9: #CC6666
Urxvt*color10: #B5BD68
Urxvt*color11: #F0C674
Urxvt*color12: #81A2BE
Urxvt*color13: #B294BB
Urxvt*color14: #8ABEB7
Urxvt*color15: #C5C8C6
URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: google-chrome
URxvt.colorUL: #7780a1
URxvt.matcher.button: 1
